<template name="menu">
	<nav class="mainMenu js-mainMenu">
		<div class="menuUser">
			<img class="userAvatar menuUser--userAvatar" src="/images/testAvatar.png" />
		</div>
		<ul class="mainMenu--list">
			{{#each menuItems}}
				{{ > menuItem}}
			{{/each}}
			{{#if isInRole 'admin'}}
				<li>
					<a class="mainMenu--item--link" href="{{pathFor 'adminAddSensor'}}">
						<i class="md md-lock-outline mainMenu--item--icon"></i>Admin - add sensor
					</a>
				</li>
			{{/if}}
		</ul>
		<a class="mainManu--logout" href="/logout">Logout</a>
	</nav>
	<div class="overlay js-mainMenuOverlay js-toggleMainMenu" style="display: none;"></div>
</template>
