<template name="roomList">
	{{> flashMessages}}
	{{#if hasRooms}}
			{{#each rooms}}
				<div class="panel u-shadow">
					{{> roomSummary}}
				</div>
			{{/each}}
	{{else}}
		<div class="panel u-shadow">
			<p>No rooms. <span class="js-addRoom">Insert one?</span></p>
		</div>
	{{/if}}
	<div class="button button--floating js-addRoom"><i class="md md-add"></i></div>


	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Modal Header</h4>
			<p>A bunch of text</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Agree</a>
		</div>
	</div>


</template>
