<template name="roomAddSensor">
	{{ > roomSensorItemPartial room}}

	<div class="panel panel-padded">
		<p class="lead">Which sensor do you want to add to this room?</p>

		<select class="form-control">
			<option>Which sensor do you want to add to this room?</option>
			{{#each sensors}}
			<option value="{{_id}}">{{moduleId}}</option>
			{{/each}}

		</select>

		<div class="marginTop10">
			<button type="button" class="btn btn-primary">Save</button>
			<a href="{{pathFor 'roomList'}}" class="btn btn-default" role="button">Cancel</a>
		</div>

	</div>



</template>
