html, body {
	background-color: $almostDead;
	color: $offWhite;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans';
	font-weight: 100;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

.lead {
	margin-bottom: 10px;
}
