html, body {
	background-color: $almostDead;
	color: $offWhite;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans';
	font-weight: 100;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

label {
	font-weight: normal;
}

select {
	position: relative;
	-webkit-appearance: none;

	&.form-control {
		background: #fff url('/images/select-dropdown.png') right center no-repeat;
	}
}

.lead {
	margin-bottom: 10px;
}
