/**
 * CONTENTS
 *
 * Base..................Default button state
 * Modifiers.............Different button types
 */

/*------------------------------------*\
	#BASE
\*------------------------------------*/
.btn {
	border-radius: $borderRadius;
}

/*------------------------------------*\
	#MODIFIERS

	1.	Makes the button all big ass ;)
\*------------------------------------*/
.btn-primary {
	background-color: map-get($primaryButton, 'background');
	border: none;
	color: map-get($primaryButton, 'text');

	&:hover, &:focus, &:active {
		background-color: darken(map-get($primaryButton, 'background'), 10%);
	}
}

.btn-transparent {
	background: transparent;
	border: none;
	color: $link;

	&:hover, &:active {
		box-shadow: none;
		color: darken($link, 10%);
	}
}

.btn-badass { /* 1. */
	margin: map-get($badassButton, margin);
	padding: map-get($badassButton, padding);
	width: map-get($badassButton, width);
}
