.btn {
	border-radius: 3px;
}

.btn-primary {
	background-color: map-get($primaryActions, 'background');
	border: none;
	color: map-get($primaryActions, 'text');

	&:hover, &:focus, &:active {
		background-color: #11afa4;
	}
}

.btn-badass {
	margin: 30px 0;
	padding: 12px;
	width: 100%;
}

.btnHolder {
	margin: 10px;
}

.btn-transparent {
	background: transparent;
	border: none;
	color: #279AE7;

	&:hover, &:active {
		box-shadow: none;
		color: darken(#279AE7, 10%);
	}
}
