/**
 * CONTENTS
 *
 * Overrides..............Chartist class overrides
 * Modifiers..............Chartist chart component modifiers
 */

/*------------------------------------*\
	#BASE
\*------------------------------------*/
.ct-chart {
	.ct-line {
		stroke-width: map-get($lineChart, width);
	}

	.ct-bar {
		stroke-width: map-get($barChart, width);
	}
}


/*------------------------------------*\
	#MODIFIERS

	1.	The selectors for Chartist are a bit... eager.
\*------------------------------------*/
.ct-chart {
	.ct-line-green, .ct-bar-green {
		stroke: #6cb735!important; /* 1. */
	}

	.ct-point-green {
		stroke: #6cb735!important;
		stroke-width: 5px!important;
	}

	.ct-line-white {
		stroke: map-get($lineChartWhite, color)!important; /* 1. */
	}

	.ct-bar-white {
		stroke: map-get($barChartWhite, color)!important; /* 1. */
	}
}
