.dropdown-iconOnly, .dropdown-iconOnly.open {
	.dropdown-toggle {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
	}

	.dropdown-toggle-white {
		color: #fff;
	}
}

.sensorSummary--dropdown {
	position: absolute;
	top: 10px;
	right: 10px;
}
