.label {
	color: #aeaeae;
	font-size: 13px;
}

.label--fullWidth {
	display: block;
	margin-bottom: $defaultSpacing;
	width: 100%;
}

.input, .textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #aeaeae;
	font-size: 18px;
	min-height: 40px;
	padding: 0;
	-webkit-appearance: none;

	&:focus, &:active {
		outline: none;
	}
}

.textarea {
	min-height: 50px;
	padding-bottom: $defaultSpacing;
}

.input--fullWidth, .textarea--fullWidth {
	margin-bottom: $defaultSpacing;
	width: 100%;
}

.formGroup {
	margin-bottom: $defaultSpacing;
}
