.input-transparent {
	&[type="email"], &[type="password"], &[type="text"] {
		background-color: transparent;
		border: none;
		color: #fff;
		border-bottom: 1px solid $angel;
		outline: none;
	}
}

.input-ogre {
	height: 40px;
}

.input-fatass {
	width: 100%;
}

.iconInput {
	position: relative;
}

.iconInput--icon {
	color: $angel;
	font-size: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.iconInput--input {
	padding-left: 30px;
}

.form-control {
	border-radius: 2px;
}
