.listLink {
	border-bottom: 1px solid #aeaeae;
	cursor: pointer;
	margin-bottom: $defaultSpacing * 2;
	min-height: 50px;
	padding-bottom: $defaultSpacing * 2;
	position: relative;

	&:last-child {
		border-bottom: none;
	}
}

.listLinkTitle {
	color: #fff;
	margin: 0 0 $defaultSpacing;
}

.listLinkIcon {
	color: #fff;
	font-size: 32px;
	position: absolute;
	right: 10px;
	top: 10px;
}
