/**
 * CONTENTS
 *
 * Base..................Base styles for the main menu
 * Items.................The menu and it's child items
 * Icons.................Icon's associated with each item
 * User..................Styles for the user info at the top of the menu
 */

/*------------------------------------*\
	#BASE
\*------------------------------------*/

.mainMenu {
	background-image: linear-gradient(30deg, #4a4f5c, #5c616c);
	height: 100vh;
	left: map-get($menu, width) * -1;
	position: absolute;
	transition: left 0.15s;
	width: map-get($menu, width);
	z-index: 2;

	&.isVisible {
		left: 0;
	}
}

.overlay {
	background-color: #000;
	height: 100vh;
	opacity: 0.5;
	position: absolute;
	width: 100vw;
	z-index: 1;
}

/*------------------------------------*\
	#ITEMS

	1.	The unordered list
	2.	The unordered list's items
\*------------------------------------*/

.mainMenu--list { /* 1. */
	margin: 0;
	padding: 0;
}

.mainMenu--item { /* 2. */
	color: map-get($menu, color);
	height: map-get($menu, itemHeight);
	line-height: map-get($menu, itemHeight);
	list-style: none;

	&.isActive {
		background-image: linear-gradient(90deg, #454a58, #383c48);
	}
}

.mainMenu--item--link {
	color: map-get($menu, color);
	display: block;
	height: 100%;
	padding-left: 30px;
	width: 100%;

	&:hover, &:focus {
		background-image: linear-gradient(90deg, #454a58, #383c48);
		color: inherit;
	}
}

/*------------------------------------*\
	#ICON
\*------------------------------------*/
.mainMenu--item--icon {
	color: #aeaeae;
	font-size: map-get($menu, iconSize);
	margin-right: $defaultSpacing * 2;
}

/*------------------------------------*\
	#USER
\*------------------------------------*/
.menuUser--userAvatar {
	margin: $avatarHeight / 2 auto;
}
