/**
 * CONTENTS
 *
 * Base..................Base styles for the main menu
 * Items.................The menu and it's child items
 * Icons.................Icon's associated with each item
 * User..................Styles for the user info at the top of the menu
 */

/*------------------------------------*\
	#BASE
\*------------------------------------*/

.mainMenu {
	background-color: $death;
	height: 100vh;
	left: map-get($menu, width) * -1;
	position: fixed;
	width: map-get($menu, width);
}

/*------------------------------------*\
	#ITEMS

	1.	The unordered list
	2.	The unordered list's items
\*------------------------------------*/

.mainMenu--list { /* 1. */
	margin: 0;
	padding: 0;
}

.mainMenu--item { /* 2. */
	color: map-get($menu, color);
	height: map-get($menu, itemHeight);
	line-height: map-get($menu, itemHeight);
	list-style: none;
}

.mainMenu--item--link {
	color: map-get($menu, color);
	display: block;
	height: 100%;
	padding-left: 10px;
	width: 100%;

	&:hover, &:focus {
		background-color: $almostDead;
		color: inherit;
	}
}

/*------------------------------------*\
	#ICON
\*------------------------------------*/
.mainMenu--item--icon {
	font-size: map-get($menu, iconSize);
	margin-right: $defaultSpacing;
}

/*------------------------------------*\
	#USER
\*------------------------------------*/
.menuUser {
	display: flex;
	margin-bottom: 40px;
}

.menuUser--userAvatar {
	margin: $defaultSpacing;
}

.menuUser--userName {
	margin: ($defaultSpacing * 2) 0 0 $defaultSpacing;
}
