/**
 * CONTENTS
 *
 * Overrides.............Bootstrap overrides for modals
 */

/*------------------------------------*\
	#OVERRIDES
\*------------------------------------*/

.modal-content {
	border-radius: $borderRadius;
	color: $almostDead;
}

.modal-header, .modal-body, .modal-footer {
	padding: 10px;
}
