/**
 * CONTENTS
 *
 * Nav bar...............The main nav bars. Also necessary for tabs
 * Tabs..................Page tabs
 */

/*------------------------------------*\
	#NAV BAR

	1.	Icons that are used in a nav bar. Doesn't specify positioning
\*------------------------------------*/

.navbar {
	align-items: center;
	background-image: linear-gradient(90deg, #5c616c, #464b59);
	display: flex;
	height: 56px;
}

.navbar_i { /* 1. */
	cursor: pointer;
	display: inline-block;
	font-size: 25px;
	padding: 15px;
}

/*------------------------------------*\
	#TABS

	1.	Note that the .tab-item class is here because of a meteor package I'm using
\*------------------------------------*/

.tabs {
	position: relative;
}

.tab, .tab-item { /* 1. */
	cursor: pointer;
	flex-grow: 1;
	font-size: $epsilon;
	line-height: 56px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&.active {
		border-bottom: 3px solid #fff;
	}
}
