.page {
	background-image: linear-gradient(-30deg, #262b36, #50555f);
	min-height: calc(100vh - 20px); /* Looks like this 20px comes from the panels margin */
	padding-top: 56px;
	position: relative;
}

.page--alt {
	background-image: linear-gradient(-30deg, #11715d, #6ec0af);
	min-height: calc(100vh);
	padding-top: 0;
}

.page--navLargeBackground {
	padding-top: 120px;
}
