.sensorSummary {
	display: flex;
	width: 100%;
}

.sensorSummary__icon {
	display: block;
	font-size: 35px;
	max-height: 50px;
	min-height: 50px;
	max-width: 50px;
	min-width: 50px;
}

.sensorSummaryInfo {
	flex: 1;
	padding-left: $defaultSpacing;
}

.sensorSummaryInfo__value {
	font-size: $alpha;
	font-weight: bold;
	margin: $defaultSpacing 0 0;
	padding-left: $defaultSpacing;
}

.sensorSummaryInfo__status {
	flex: 1;
}

.sensorSummary__value {
	font-size: $alpha;
	font-weight: bold;
	margin: $defaultSpacing 0 0;
	padding-left: $defaultSpacing;
}

.tempSummary {
	margin-top: $defaultSpacing;
	width: 100%;
}

.tempSummary__value {
	margin: 0;
}

.sensorSummaryInfo__meta {
	display: flex;
	flex-direction: column;
	margin: 0 $defaultSpacing;
}

.sensorSummary__metaValue {
	margin: 0;
}

.sensorSummaryInfo__brief {
	display: flex;
	width: 110px;
}

.sensorSummaryInfo__brief--right {
	margin: 0 $defaultSpacing;
}

.sensorSummaryInfo__briefIcon {
	display: block;
	margin-right: $defaultSpacing / 2;
}

.tempSummary {
	flex-direction: column;
}

.tempMin, .tempAvg, .tempMax {
	font-weight: 400;
}

.tempMin {
	color: #2696e2;
}

.tempAvg {
	color: #6cb735;
}

.tempMax {
	color: $hotPink;
}

// /**
//  * CONTENTS
//  *
//  * Summary.............The summary for a particular sensor
//  * Chart...............Small charts for the datapoint summary
//  * Icons...............Any icons that have to do with the summary info
//  */
//
// /*------------------------------------*\
// 	#SUMMARY
//
// 	1.	For room pages etc
// 	2.	For the homepage. Smaller.
// \*------------------------------------*/
//
// .sensorSummmary { /* 1. */
// 	position: relative;
// }
//
// .sensorSummary--title {
// 	line-height: 25px;
// 	margin-top: 0;
// }
//
// .sensorSummaryBrief { /* 2. */
// 	margin: $defaultSpacing;
// 	margin-bottom: 0;
// }
//
// .sensorSummaryBrief--title {
// 	line-height: 24px;
// 	margin-top: 0;
// }
//
// /*------------------------------------*\
// 	#CHART
// \*------------------------------------*/
//
// .summaryChart {
// 	position: relative;
// 	height: 60px;
// }
//
// .summaryChart--chart {
// 	height: 42px;
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	width: 180px;
// }
//
// /*------------------------------------*\
// 	#ICONS
// \*------------------------------------*/
// .sensorIconHolder {
// 	margin-top: $defaultSpacing;
// }
