.sensor {
	min-height: 100px;
	position: relative;
}

.sensor--background {
	background-image: url('/images/testBackground.jpg');
	background-size: cover;
	height: 100px; /* temp */
	width: 100%;

	&:after {
		background: linear-gradient(transparent, $death);
		bottom: 0;
		content: '';
		height: 50px;
		left: 0;
		opacity: 0.8;
		position: absolute;
		right: 0;
	}
}

.sensor--background--h1 {
	bottom: 10px;
	color: $offWhite;
	font-size: 18px;
	position: absolute;
	left: 10px;
	z-index: 1;
}

.sensorSummmary {
	position: relative;
}

.sensorSummary--title {
	font-size: 18px;
	font-weight: 100;
	line-height: 25px;
	margin-top: 0;
}

.sensorSummaryBrief {
	margin: 10px 10px 0 10px;
}

.sensorSummaryBrief--title {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	margin-top: 0;
}

.summaryChart {
	position: relative;
	height: 60px;
}

.summaryChart--chart {
	height: 42px;
	position: absolute;
	right: 0;
	top: 0;
	width: 180px;
}

.summaryChart--title {
	font-size: 42px;
	font-weight: 100;
}

.sensorIconHolder {
	bottom: 10px;
	position: absolute;
	z-index: 1;

	&-left {
		left: 10px;
	}

	&-right {
		right: 10px;
	}
}

.sensorIconHolder--sensorIcon {
	display: inline-block;
	margin-right: 5px;
}

.sensorIcon {
	border-radius: 50%;
	color: #fff;
	font-size: 17px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 25px;

	&-add {
		background-color: #f85240;
	}
}

.sensorIcon-ir {
	background-color: #279ae7;
}

.sensorIcon-temp {
	background-color: #6cb735;
}

.sensorIcon-next {
	background-color: #9b2c4c;
}

.sensorIcon-edit {
	background-color: #6ec1b0;
}
