/**
 * CONTENTS
 *
 * Holder..............Container for the page title
 * Title...............The page title
 * Icons...............Any icons that live in the title
 */

/*------------------------------------*\
	#HOLDER
\*------------------------------------*/
.titleHolder {
	background-color: $death;
	height: $titleHeight;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 2;
}

/*------------------------------------*\
	#TITLE
\*------------------------------------*/
.title {
	color: #fff;
	font-size: $titleHeight / 2;
	line-height: $titleHeight;
	margin: 0;
}

/*------------------------------------*\
	#ICONS
\*------------------------------------*/
.titleHolder--menuIcon, .titleHolder--prevIcon {
	position: absolute;
	top: $titleHeight / 8;
}

.titleHolder--menuIcon {
	left: $titleHeight / 4;
}

.titleHolder--prevIcon {
	right: $titleHeight / 4;

}
