/**
 * CONTENTS
 *
 * Headings...............Details for HTML headings
 */

/*------------------------------------*\
	#HEADINGS
\*------------------------------------*/

h1, .alpha,
h2, .beta,
h3, .cappa,
h4, .delta,
h5, .epsilon,
h6, .foxtrot {
	font-weight: 100;
}

h1, .alpha {
	font-size: $alpha;
}

h2, .beta {
	font-size: $beta;
}

h3, .cappa {
	font-size: $cappa;
}

h4, .delta {
	font-size: $delta;
}

h5, .epsilon {
	font-size: $epsilon;
}

h6, .foxtrot {
	font-size: $foxtrot;
}

.text-wowza {
	font-size: 42px;
}

.subText {
	color: #aeaeae;
	font-size: 12px;
	margin: 0;
}

.actionText {
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
}
