/**
 * CONTENTS
 *
 * Headings...............Details for HTML headings
 */

/*------------------------------------*\
	#HEADINGS
\*------------------------------------*/

h1, .alpha {
	font-size: 26px;
}

h2, .beta {
	font-size: 22px;
}

h3, .cappa {
	font-size: 20px;
}

h4, .delta {
	font-size: 18px;
}

h5, .epsilon {
	font-size: 16px;
}

h6, .foxtrot {
	font-size: 15px;
}

.wowza {
	font-size: 42px;
}
