/**
 * CONTENTS
 *
 * Avatar...............A user's avatar
 */

/*------------------------------------*\
	#AVATAR
\*------------------------------------*/
.userAvatar {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	height: $avatarHeight;
	width: $avatarHeight;
}
