.u-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 4px -5px, rgba(0, 0, 0, 0.12) 10px 5px 4px -1px;
}

.u-relative {
	position: relative;
}

.margin10 {
	margin: 10px;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.marginTop10 {
	margin-top: 10px;
}
