@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

.u-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 4px -5px, rgba(0, 0, 0, 0.12) 10px 5px 4px -1px;
}

.u-relative {
	position: relative;
}

.u-flex {
	display: flex;
}

.u-marginBottom {
	margin-bottom: $defaultSpacing;
}

.u-marginLeft {
	margin-left: $defaultSpacing;
}

.u-marginRight {
	margin-right: $defaultSpacing;
}

.u-marginTop {
	margin-top: $defaultSpacing;
}

.u-darkText {
	color: #333;
}

.u-lightText {
	color: #fff;
}

.u-fullWidth {
	width: 100%;
}

.u-fixTop {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
}
.u-pullLeft {
	float: left;
}

.u-pullRight {
	float: right;
}

.u-textLeft {
	text-align: left;
}

.u-textRight {
	text-align: left;
}

.u-clearfix{
	@include clearfix;
}
