.u-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 4px -5px, rgba(0, 0, 0, 0.12) 10px 5px 4px -1px;
}

.u-relative {
	position: relative;
}

.u-flex {
	display: flex;
}

.u-marginBottom {
	margin-bottom: $defaultSpacing;
}

.u-marginLeft {
	margin-left: $defaultSpacing;
}

.u-marginRight {
	margin-right: $defaultSpacing;
}

.u-marginTop {
	margin-top: $defaultSpacing;
}
