<template name="roomEditModal">
	<div class="modal fade" tabindex="-1" id="editRoom">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Edit room</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<input type="hidden" name="_id" />
						<div class="form-group">
							<label class="control-label">Name</label>
							<input type="text" name="name" maxlength="200" class="form-control" />
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="homepage.show">
									Show on homepage
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary js-saveRoom">Save</button>
				</div>
			</div>
		</div>
	</div>
</template>
