<template name="settings">
	<header class="navbar u-fixTop">
		<i class="md md-menu navbar_i js-toggleMainMenu"></i>
		<h1 class="title">Settings</h1>
	</header>
	<main class="panel panel--transparent u-clearfix">
		{{ > listLink title="Networks" description="View the networks you belong to" route="networkList"}}
		{{ > listLink title="Hubs" description="View your networks hubs" route="hubList"}}
		{{ > listLink title="Your profile" description="View or change your profile details" route="profileEdit"}}
	</main>
</template>
