<template name="settings">
	<header class="navbar u-fixTop">
		<i class="md md-menu navbar_i js-toggleMainMenu"></i>
		<h1 class="title">Settings</h1>
	</header>
	<main class="panel panel--transparent u-clearfix">
		<div class="listLink js-listLink" data-ref="networkList">
			<i class="md md-chevron-right listLinkIcon"></i>
			<h4 class="listLinkTitle">Networks</h4>
			<p class="subText">View the networks you belong to</p>
		</div>
		<div class="listLink js-listLink" data-ref="hubList">
			<i class="md md-chevron-right listLinkIcon"></i>
			<h4 class="listLinkTitle">Hubs</h4>
			<p class="subText">View the hubs your networks have registered</p>
		</div>
	</main>
</template>
