<template name="sensorSummary">
	{{> Template.dynamic template = getTemplate}}
</template>

<template name="tempSensorSummary">
	<div class="sensorSummary panel panel-padded panel-borderRadius panel-green">
		<h4 class="sensorSummary--title"><i class="md md-home sensorIcon sensorIcon-temp sensorIconHolder--sensorIcon"></i>{{nickname}}</h4>
		<div class="dropdown dropdown-iconOnly sensorSummary--dropdown">
			<button class="btn btn-default dropdown-toggle dropdown-toggle-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><i class="md md-more-vert"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{{pathFor 'sensorItemNameEdit' _ie = this.data._id}}">Edit</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
			</ul>
		</div>
		<div class="summaryChart">
			<h5 class="summaryChart--title">{{latestTemp}}&#186;C</h5>
			<div class="chart summaryChart--chart ct-chart" id="chart-{{_id}}"></div>
		</div>
	</div>
</template>

<template name="irSensorSummary">
	<div class="sensorSummary panel panel-padded panel-borderRadius panel-blue">
		<h4 class="sensorSummary--title"><i class="md md-home sensorIcon sensorIcon-ir sensorIconHolder--sensorIcon"></i>{{nickname}}</h4>
		<div class="dropdown dropdown-iconOnly sensorSummary--dropdown">
			<button class="btn btn-default dropdown-toggle dropdown-toggle-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><i class="md md-more-vert"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{{pathFor 'sensorItemNameEdit' _ie = this.data._id}}">Edit</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove</a></li>
			</ul>
		</div>
		<div class="summaryChart">
			<h5>Something</h5>
		</div>
	</div>
</template>
