<template name="sensorSummary">
	{{> Template.dynamic template = getTemplate}}
</template>

<template name="sensorSummaryEditModals">
	<div class="modal fade" tabindex="-1" id="removeSensor">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Remove this sensor?</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="_id" />
					<input type="hidden" name="room_id" />
					<p class="js-removeMessage"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary js-removeSensor">Remove</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="editSensor">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Change this sensor's nickname</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="form-group">
							<label class="control-label">Name</label>
							<input type="text" name="name" maxlength="200" class="form-control" />
							<input type="hidden" name="_id" />
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary js-saveSensor">Save</button>
				</div>
			</div>
		</div>
	</div>
</template>
