<template name="tempSensorSummary">
	<div class="sensorSummary panel panel-padded panel-borderRadius panel-green">
		<h4 class="sensorSummary--title"><i class="md md-home sensorIcon sensorIcon-temp sensorIconHolder--sensorIcon"></i>{{nickname}}</h4>
		<div class="dropdown dropdown-iconOnly sensorSummary--dropdown">
			<button class="btn btn-default dropdown-toggle dropdown-toggle-white" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><i class="md md-more-vert"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{{pathFor 'sensorItemNameEdit' _ie = this.data._id}}">Edit</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#removeSensor-{{_id}}" href="#">Remove</a></li>
			</ul>
		</div>
		<div class="summaryChart">
			<h5 class="summaryChart--title">{{latestTemp}}&#186;C</h5>
			<div class="chart summaryChart--chart ct-chart" id="chart-{{_id}}"></div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="removeSensor-{{_id}}">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					{{removeMessage}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-transparent" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary js-removeSensor">Yes</button>
				</div>
			</div>
		</div>
	</div>

</template>
