<template name="home">
	<header class="navbar u-fixTop">
		<i class="md md-menu navbar_i js-toggleMainMenu"></i>
		<h1 class="title">Home</h1>
	</header>
	{{#autumnTabs name="" tabs=tabs}}
		{{#tabContent slug="sensors"}}
			{{#with ..}}
				{{#each sensors}}
					<div class="panel u-shadow">
						{{> sensorSummaryBrief}}
					</div>
				{{/each}}
			{{/with}}
		{{/tabContent}}

		{{#tabContent slug="rooms"}}
			{{#if Template.subscriptionsReady}}
				{{#with ..}}
					{{#each rooms}}
						<div class="panel u-shadow">
							{{> roomSummary}}
						</div>
					{{/each}}
				{{/with}}
			{{else}}
				{{ > spinner}}
			{{/if}}
		{{/tabContent}}
	{{/autumnTabs}}
</template>
