<template name="roomList">
	<header class="navbar u-fixTop">
		<i class="md md-menu navbar_i js-toggleMainMenu"></i>
		<h1 class="title">Your rooms</h1>
	</header>
	{{> flashMessages}}
	{{#if hasRooms}}
			{{#each .}}
				<div class="panel u-shadow">
					{{> roomSummary}}
				</div>
			{{/each}}
	{{else}}
		<div class="panel u-shadow">
			<p>No rooms. <span class="panel__a js-addRoom">Insert one?</span></p>
		</div>
	{{/if}}
	<div class="button button--floating js-addRoom"><i class="md md-add"></i></div>

</template>
