<template name="roomInsert">
	<main class="panel panel--transparent u-clearfix">
		{{> flashMessages}}
		<div class="formGroup">
			<label class="label label--FORullWidth">Name</label>
			<input type="text" class="input input--fullWidth input--transparent u-lightText" name="name"/>
		</div>

		<div class="formGroup">
			<label class="label label--fullWidth">Description</label>
			<textarea class="textarea textarea--fullWidth input--transparent u-lightText" name="description"></textarea>
		</div>

		{{#if hasMoreThanOneNetwork}}
			<p>Need to add in dropdown here for more than one network</p>
		{{else}}
		<input type="hidden" name="network" value="{{singleNetworkId}}"/>
		{{/if}}

		<div class="formGroup">
			<div class="checkboxHolder">
				<input type="checkbox" id="showOnHomepage" name="showOnHomepage" />
				<label for="showOnHomepage" class="label">Show room on homepage</label>
			</div>
		</div>

		<div class="formGroup">
			<label class="label label--fullWidth">Image</label>
			{{> imageThumbs}}
		</div>

		<button class="button button--action js-insertRoom">Add</button>
	</main>
</template>
