<template name="login">
	<main class="page page-full page-dark">
		<div class="container-fluid">
			<div class="panel-form">
				<i class="mammoth-icon"></i>

				<form id="login-form" action="action">
					<div class="iconInput">
						<i class="md md-email iconInput--icon"></i>
						<label for="login-email" class="hidden">Email address</label>
						<input class="input-transparent input-ogre input-fatass iconInput--input" id="login-email" type="email" placeholder="Email address"/>
					</div>
					<div class="iconInput">
						<i class="md md-lock iconInput--icon"></i>
						<label for="login-password" class="hidden">Password</label>
						<input class="input-transparent input-ogre input-fatass iconInput--input" id="login-password" type="password" placeholder="Password"/>
					</div>
					<input type="submit" class="btn btn-primary btn-badass" id="login-button" value="Sign in" />
				</form>
				<p><a href="#" id="forgot-password-link">Forgotten password</a> or you <a href="#" id="signup-link"> need an account?</a></p>
			</div>
		</div>
	</main>
</template>
