<template name="roomAddSensor">
	{{ > roomSensorItemPartial room}}

	<div class="panel panel-padded">
		<p class="lead">Which sensor do you want to add to this room?</p>

		<form id="roomInsertSensorForm">
			<fieldset>
				<select name="sensor" class="form-control js-formSensor">
					<option></option>
					{{#each sensors}}
					<option value="{{_id}}">{{moduleId}}</option>
					{{/each}}
				</select>
				<input type="hidden" name="room" value="{{room._id}}" class="js-formRoom"/>
				<div class="marginTop10">
					<button type="submit" class="btn btn-primary">Add</button>
					<a href="{{pathFor 'roomItem' _id=room._id}}" class="btn btn-default" role="button">Cancel</a>
				</div>
			</fieldset>
		</form>
	</div>

</template>
