<template name="room">
	<div class="room">
		<div class="room--background">
			<h1 class="roomTitle delta absoluteBottomLeft">{{room.name}}</h1>
			<div class="roomIcon absoluteBottomRight">
				<i class="md md-edit buttonIcon buttonIcon-edit roomIcon--buttonIcon js-editRoom"></i>
				<a href="{{pathFor 'sensorAssign' _id=room._id}}"><i class="md md-add buttonIcon buttonIcon-add"></i></a>
			</div>
		</div>
	</div>

	<div class="panel panel-padded">
		{{#if sensorCount}}
			{{#each sensors}}
				{{> sensorSummary}}
			{{/each}}
			{{ > sensorSummaryEditModals}}
		{{else}}
			<p>This room doesn't seem to have any sensors in it. Did you want to <a href="{{pathFor 'sensorAssign' _id=room._id}}">add one</a>?</p>
		{{/if}}
	</div>
	{{ > roomEditModal}}
</template>
