<template name="room">
	<header class="navbar navbar--transparent navbar--largeBackground u-fixTop" style="{{navbarStyles}}">
		<i class="md md-menu navbar_i js-toggleMainMenu"></i>
		<h1 class="title">{{room.name}}</h1>
		<i class="md md-more-vert navbar_i actionMenuLink js-openActionMenu" data-activates='titleActionMenu'>
			<ul id='titleActionMenu' class="actionMenu">
				<li class="actionMenuItem js-editRoom">Edit</li>
				<li class="actionMenuItem js-removeRoom">Remove</li>
			</ul>
		</i>
	</header>
	{{#if sensorCount}}
		{{#each sensors}}
			<div class="panel u-shadow">
				{{> sensorSummary}}
			</div>
		{{/each}}
	{{else}}
		<div class="panel">
			<p>This room doesn't seem to have any sensors in it. Did you want to <span class="panel__a js-addSensor">add one</span>?</p>
		</div>
	{{/if}}
	<div class="button button--floating js-addSensor"><i class="md md-add"></i></div>

	{{ > roomRemove room}}
	{{ > roomSensorInsert room}}
</template>
