<template name="roomName">
	<p>{{name}}</p>
</template>

<template name="roomSummary">
	<div class="room">
		<div class="room--background" style='{{backgroundImageStyle}}'>
			<h1 class="roomTitle delta absoluteBottomLeft">{{name}}</h1>
			<div class="roomIcon absoluteBottomRight">
				<a href="{{pathFor 'room'}}"><i class="md md-navigate-next buttonIcon buttonIcon-next"></i></a>
			</div>
		</div>
	</div>
	<div class="roomSummary">
		<p class="roomSummaryText">Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
		<div class="sensorIconHolder absoluteBottonLeft">
			{{#each sensors}}
				{{ > sensorIcon}}
			{{/each}}
		</div>
	</div>
</template>

<template name="roomSummaryBrief">
	<div class="room">
		<div class="room--background" style="{{backgroundImageStyle}}">
			<h1 class="roomTitle delta absoluteBottomLeft">{{name}}</h1>
			<div class="roomIcon absoluteBottomRight">
				<a href="{{pathFor 'room'}}"><i class="md md-navigate-next buttonIcon buttonIcon-next"></i></a>
			</div>
		</div>
	</div>
	{{#each roomSensors}}
		{{ > sensorSummaryBrief}}
	{{/each}}
</template>
