<template name="homeNewNetwork">
	<h2>Woo!</h2>
	<p>Cool - now we're all setup with a network to add all your sensors to.</p>
	<p>We now need to add your hub your {{networkName}} network. Enter the hub ID for this below and give it any nickname you like.</p>

	{{#autoForm collection="Hubs" id="homeNewNetworkHubInsertForm" type="method" meteormethod="insertHub"}}
		{{> afQuickField name='hubId'}}
		{{> afQuickField name='name'}}
		<div class="{{networkHolderClass}}">
			{{> afQuickField name='network' value=defaultNetworkValue}}
		</div>
		<button type="submit" class="btn btn-primary">Insert</button>
	{{/autoForm}}

</template>
