<template name="signUp">
	<main class="panel panel--transparent">
		<i class="mammothIcon"></i>
		{{> flashMessages}}
		<p class="u-lightText">Enter your email address and a password to create your account.</p>
		<div class="u-clearfix">
			<div class="formGroup">
				<label class="label label--fullWidth" for="email">Email address</label>
				<input type="text" class="input input--fullWidth input--transparent u-lightText" name="email" />
			</div>
			<div class="formGroup">
				<label class="label label--fullWidth" for="password">Password</label>
				<input type="password" class="input input--fullWidth input--transparent u-lightText" name="password" />
			</div>
			<div class="u-pullRight">
				<button class="button button--transparent js-cancelSignup">Cancel</button>
				<button class="button button--action right js-confirmSignup">Create Account</button>
			</div>

		</div>
	</main>
</template>
